# Personal note files.
*.txt
!THIRD_PARTY_LICENSES/*.txt

# In-progress documentation files.
*.md
!README.md

# VSCode set up.
*.json

# Test scripts and bytecode files I
# use for quick testing.
*.ch
*.bch

# Comparison test and benchmark scripts.
*.py
*.sh

# Extra directories with notes or build files/
# solutions.
extras/
build/
sources/
VS Solution/
dependencies/

# Executable.
choice